/* GENERAL STRUCTURE */

body {
	position: relative;
	margin: 0;
	margin-bottom: 100px;
	background-color: #a6acd0;
	font-size: 25px;
	font-family: cambria;
	text-decoration: none;
}

div#content {
	max-width: 1200px;
	width: 80%;
	margin: auto;
	background: White;
	padding: 30px;
}

section {
	margin-bottom: 80px;
}



/* HEADINGS AND STYLES */

h1 {
	font-family: constantia;
	font-weight: 800;
	font-size: 80px;
	margin: 0px;
}

h2 {
	font-family: constantia;
	font-size: 40px;
}

h3 {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
}

p {
	margin: 30px;
	line-height: 1.6;
	text-indent: 75px;
}

strong {
	color: #2a0082;
}



/* HEADER STRUCTURE */

header {
	width: 100%;
	padding: 60px 0px;
	text-align: center;
	background: #cacaca;
}

header p {
	font-size: 20px;
	margin: 0px;
	text-indent: 0px;
}



/* NAVIGATION STRUCTURE */

nav ul {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #a7a7a7;
}

nav li {
	width: 32.5%;
	line-height: 80px;
	padding: 5px 0%;
	background: #a7a7a7;
	list-style-type: none;
	text-align: center;
	font-family: constantia;
	font-size: 30px;
	display: inline-block;
}

nav li.active {
	background: #cacaca;
}

nav a {
	width: 100%;
	color: black;
	text-decoration: none;
	display: inline-block;
}

nav a.active {
	color: #5763a9;
}



/* HOME PAGE */

section#about img {
	width: 290px;
	float: right;
	margin: 15px 30px;
}



/* RESUME STRUCTURE */

section#resintro a {
	display: block;
	margin: auto;
	width: 300px;
	padding: 15px;
	background: #e4e8ff;
	color: black;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: constantia;
	text-align: center;
	text-decoration: none;
}

section#resume {
	width: 90%;
	margin: auto;
	font-size: 20px;
}

li p {
	margin: 0px 15px 5px;
	text-indent: 0px;
}



/* PROJECTS PAGE */

section#projects li p {
	margin-top: 5px;
	margin-bottom: 30px;
	font-size: 20px;
}

section#projects a {
	color: #2a0082;
	font-weight: bold;
}
